/* NAVBAR */
/* Navbar icons */
.navbar-tool.btn, .s-notification, #navcart-icon {
    color: var(--header-txt-color) !important;
}

.navbar-search {
    background-color: var(--header-bg-color) !important;
    color: var(--header-txt-color) !important;
}


.banner-carousel:hover {
    cursor: move;
}

.main-text {
    color: rgb(24, 0, 0) !important;
    font-size: 20px !important;
    font-weight: 1000 !important;
    letter-spacing: 2px !important;
    font-family: 'Courier New', Courier, monospace;
}

.main-button {
    outline: 0.1rem solid var(--bs-primary) !important;
}

.border-theme.navbar-search {
    border-color: var(--header-txt-color) !important;
    color: var(--header-txt-color) !important;
}

.border-theme.navbar-search::placeholder {
    color: var(--header-txt-color) !important;
}

/* PRODUCT CARD */
.product-card-link:hover {
    text-decoration: none;
}

.card-icing {
    outline: 0.1rem solid var(--bs-primary);
    box-sizing: border-box;
    margin-top: 1rem;
    padding: 0 !important;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all 0.2s ease-in-out !important;
    transition: all 0.2s ease-in-out !important;
}

.card-icing:hover {
    transform: scale(1.02);
}

.card-icing:hover > .product-icing {
    background-color: rgba(255, 255, 255, 0.9);
}

.product-icing{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1rem;
    backdrop-filter: blur(8px);
    -webkit-transition: all 0.2s ease-in-out!important;
    transition: all 0.2s ease-in-out!important;
}

/* Remove image border */
body .filterlist-single_product .card .product-thumb {
    border: none;
}

/* CATEGORY CARD */
.category-card {
    padding: 0 !important;
}

.category-card:hover {
    backdrop-filter: blur(8px) !important;
}

.category-card:hover > .card {
    background-size: 105% !important;
}

.category-card > .card {
    -webkit-transition: all 0.2s ease-in-out !important;
    transition: all 0.2s ease-in-out !important;
    padding: 0 !important;
}

.category-card > .card > .category-title {
    padding: 0 !important;
}

.category-card > .card > .category-title > h3 {
    width: 100%;
    height: 100%;
    place-content: center;
    background-color: rgba(0, 0, 0, 0) !important;
    -webkit-transition: background-color 0.2s ease-in-out !important;
    transition: background-color 0.2s ease-in-out !important;
}

.category-card:hover > .card > .category-title > h3 {
    background-color: rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(8px) !important;
}





/* From Uiverse.io by nikk7007 */ 
.header-button {
    /* --color: var(--swiper-theme-color); */
    padding: 0.8em 1.7em !important;
    background-color: transparent  !important;
    border-radius: .3em !important;
    position: relative !important;
    overflow: hidden !important;
    cursor: pointer !important;
    transition: .5s !important;
    font-weight: 400 !important;
    font-size: 17px !important;
    border: 1px solid !important;
    font-family: inherit !important;
    text-transform: uppercase !important;
    color: var(--color) !important;
    backdrop-filter: blur(10px) !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    z-index: 1 !important;
   }
   
   .header-button::before, .header-button::after {
    content: '' !important;
    display: block !important;
    width: 50px !important;
    height: 50px !important;
    transform: translate(-50%, -50%) !important;
    position: absolute !important;
    border-radius: 50% !important;
    z-index: -1 !important;
    background-color: var(--color) !important;
    transition: 1s ease !important;
   }
   
   .header-button::before {
    top: -1em !important;
    left: -1em !important;
   }
   
   .header-button::after {
    left: calc(100% + 1em) !important;
    top: calc(100% + 1em) !important;
   }
   
   .header-button:hover::before, .header-button:hover::after {
    height: 410px !important;
    width: 410px !important;
   }
   
   .header-button >a{   
    color: var(--color) !important;
    text-decoration: none !important;
    font-weight: 800 !important;
   }

   .header-button:hover {
    color: rgb(10, 25, 30) !important;
   }
   .header-button:hover > a{
    color: rgb(10, 25, 30) !important;
   }
   
   .header-button:active {
    filter: brightness(.8) !important;
   }
   .header-button:active > a{
    filter: brightness(.8) !important;
   }
   